/* for bar chart */
.form {
    margin-bottom: 1%;
}


table {
    width: 75%;
    height: 95%;
    border: 5px solid rgb(172, 23, 55);
}

tr {
    border: 1px solid black;
}

.dataBar {
    width: 80%;
    
}


td {
}

.DataRow {
}

/* .dataBar:hover {
    width: 100%;
    height: 100%;
  } */

.BarChartContainer {
    background-color: white;
    width: 50%;
    /* border: 5px solid rgb(172, 23, 55); */
    border-radius: 15px 50px 30px 5px;
    margin: 30px;
}


/* for pie chart */

.PieChartContainer {
    background-color: white;
    width: 50%;
    border: 5px solid black;
    margin: 30px;
}

.PieChart {
    width: 100%;
    height: 95%;
}


/* for line chart */

.LineChartContainer {
    background-color: white;
    width: 50%;
    border: 5px solid black;
    margin: 30px;
}

.lineChart {
    width: 100%;
    height: 90%;
}